.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid grey;
  }
  
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid grey;
  }
  
  .triangle-up:hover, .triangle-down:hover {
    cursor: pointer;
  }
  